<ion-view>
  <ion-content class="noble-content">
    <div class="noble-hero">
    	<p>Marty, you didn't fall asleep, did you? Yeah, but I never picked a fight in my entire life. Yeah, well history is gonna change. I'm gonna ram him.</p>
    </div>
	<div class="list list-inset">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="node_module" ng-model="quest">
		</label>
		<button class="button button-full button-assertive" ng-click="launchQuest(quest)">
  			{{message}}
		</button>
	</div>
  </ion-content>
</ion-view>
