<ion-view>
	<ion-nav-title>
		<img class="noble-crown" src="img/noble-crown.png">
	</ion-nav-title>
  <ion-content class="noble-content" scroll="false">
  	<div class="noble-wrapper">
	    <div class="noble-hero">
	    	<img class="noble-logo" src="img/noble-logo.png" />
	    	<p>Search for a node.js package by name. Or add a version too, if you'd like. Try name@version.<br>Be Noble</p>
	    </div>
		<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="package name" ng-model="module">
			</label>
			<button class="button button-full button-assertive" ng-click="searchModule(module)">
	  			{{message}}
			</button>
		</div>
	</div>
  </ion-content>
</ion-view>
