<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>
		<ion-nav-buttons side="secondary">
			<button class="button button-icon icon ion-share" ng-click="export()"></button>
		</ion-nav-buttons>
		<ion-nav-title>
		{{module.name}}@{{module.version}}:{{modules.length}}
	</ion-nav-title>
	</ion-nav-bar>
  <ion-content>
	<ion-list>
		<ion-item ng-repeat="mod in modules">
			{{mod.name}} : {{mod.version}} : {{mod.license}}
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
